@media screen and (max-width: 1260px) {
    .back {
        width: 50%;
    }
}

@media screen and (max-width: 840px) {
    .back {
        width: 100%;
    }
}

.button_base {
    margin: 0 auto;
    border: 0;
    font-size: 18px;
    position: relative;
    width: 200px;
    height: 50px;
    text-align: center;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-user-select: none;
    cursor: default;
}

.button_base:hover {
    cursor: pointer;
}

.b03_skewed_slide_in {
    overflow: hidden;
    border: #000000 solid 1px;
    margin: 10px 0;
}

.b03_skewed_slide_in div {
    position: absolute;
    text-align: center;
    font-family: 'Simplifica';
    font-size: 32px;
    font-weight: bold;
    width: 100%;
    height: 50px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 10px;
}

.b03_skewed_slide_in div:nth-child(1) {
    color: #000000;
    background-color: #ffffff;
}

.b03_skewed_slide_in div:nth-child(2) {
    background-color: #000000;
    width: 230px;
    transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    transform: translate(-250px, 0px) skewX(-30deg);
    -webkit-transform: translate(-250px, 0px) skewX(-30deg);
    -moz-transform: translate(-250px, 0px) skewX(-30deg);
}

.b03_skewed_slide_in div:nth-child(3) {
    color: #ffffff;
    left: -200px;
    transition: left 0.2s ease;
    -webkit-transition: left 0.2s ease;
    -moz-transition: left 0.2s ease;
}

.b03_skewed_slide_in:hover div:nth-child(2) {
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    transform: translate(-15px, 0px) skewX(-30deg);
    -webkit-transform: translate(-15px, 0px) skewX(-30deg);
    -moz-transform: translate(-15px, 0px) skewX(-30deg);
}

.b03_skewed_slide_in:hover div:nth-child(3) {
    left: 0px;
    transition: left 0.30000000000000004s ease;
    -webkit-transition: left 0.30000000000000004s ease;
    -moz-transition: left 0.30000000000000004s ease;
}

.buttonPlay {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    margin: 5px;
    padding: 5px 15px;
    height:30px;
    width:120px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 23px;
}

.buttonLeave {
    background-color: #f44336; /* Red */
    border: none;
    color: white;
    margin: 5px;
    padding: 5px 15px;
    height:30px;
    width:120px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 23px;
}

.buttonPlay:hover {
  background: green !important;
  cursor:'pointer';
}

.buttonLeave:hover {
  background: red !important;
  cursor:'pointer';
}

.decrementBtn:hover{
  background: rgba(0,0,0,0.3);
}

.decrementBtn:active{
  background: rgba(0,0,0,0.5);
}

.incrementBtn:hover{
  background: rgba(0,0,0,0.3);
}

.incrementBtn:active{
  background: rgba(0,0,0,0.5);
}
