ul {
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  width:35%;
}

li {
  text-align: center;
}

li:last-child {
  border: none;
}

li a {
  text-decoration: none;
  color: #000;
  font-size: 30px;
  font-weight: 500;
  -webkit-transition: font-size 0.3s ease, background-color 0.3s ease;
  -moz-transition: font-size 0.3s ease, background-color 0.3s ease;
  -o-transition: font-size 0.3s ease, background-color 0.3s ease;
  -ms-transition: font-size 0.3s ease, background-color 0.3s ease;
  transition: font-size 0.3s ease, background-color 0.3s ease;
  display: block;
}

li a:hover {
  font-size: 40px;
  background: #f6f6f6;
}

#rolePicker input{
  text-align: center;
}

hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border-width: 0;
    border-top: 1px solid #E1E1E1;
}
.innerbox {
   width:10px; /* or whatever width you want. */
   max-width:250px; /* or whatever width you want. */
   display: inline-block;
}

.rolePicker{
  margin-bottom: 20px;
}
