@font-face {
font-family: "Simplifica";
src: url("fonts/Simplifica.ttf");
src:
url("fonts/simplifica_typeface-webfont.woff") format("woff")
}

* {
 font-size: 100%;
 font-family: 'Simplifica';
 font-size: 24px;
}

body {
    padding: 0;
    margin: 0;
    border: 0;
    overflow-x: none;
    background-color: #ffffff;
    font-family: Roboto Condensed, sans-serif;
    font-size: 12px;
    font-smooth: always;
    -webkit-font-smoothing: antialiased;
}

h1 { color: #111; font-family: 'Simplifica', sans-serif; font-size: 50px; font-weight: bold; letter-spacing: -1px; line-height: 1; text-align: center; }

.errorMessage {
    font-size: 30px;
    font-weight:800;
    letter-spacing: 2px;
    margin: 5px 0px;
    padding:12px;
    color: #D8000C;
}
